@import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #3b89e4;
@font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
@font-size-base: 15px;
@text-color:#262626;
@btn-font-weight: 500;
@input-placeholder-color: #9fadc7;
@btn-font-size          : 14px;
body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    color: #262626;
    background: #f5f7f9;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.card{
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ivu-dropdown-item {
    line-height: 30px;
    font-size: 14px!important;
    color: #262626;
}
.ivu-dropdown-item:hover {
    color: #7a8599;
    background: #f4f8fb;
}
.ivu-affix{
    z-index:1000;
}