{
  "rules": {
    "strict": 0,
    "curly": 0,
    "indent": [2, 2, {"indentSwitchCase": true}],
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "quotes": 0
  },
  "env": { 
    "node": true,
    "mocha": true
  },
  "globals": { 
    "expect": true,
    "sinon": true
  }
}
